*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    
}    
.abutUs{
    display: flex;
    
}
.abutUs p{
    margin: 5px;
}
.youIcon {
margin: 5px;
display: flex;
background-color: ghostwhite;
}

