*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    
}    
.abutUs{
    display: flex;
    
}
.abutUs p{
    margin: 5px;
}
.youIcon {
margin: 5px;
display: flex;
background-color: ghostwhite;
}

.bannarSection{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
button{
    background-color: rgb(0, 195, 255);
    width: 100px;
    height: 50px;
    margin-top: 15px;
    
    color: white;
 
}
.weGeme{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    text-align: right;
}
.onlineGame{
    text-align: center;
    margin-bottom: 10px;
}
.onlineGameImg{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.onlineGameImg img{
    width: 200px;
}
.playInstantly{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.img5{
    position: relative;
    width: 400px;
    height: 400px;
}
.img6 img{
width: 200px;
position: absolute;
bottom:-67px;
right: 300px;
}
